In [2]:
from dask.distributed import Client

client = Client(n_workers=4)
client

In [2]:
import dask.dataframe as dd
ddf = dd.read_csv('./data/single_file.csv',)
len(ddf)

2419200

In [3]:
ddf.head()

     id      name         x         y
0  1008       Dan  0.740626 -0.118314
1   987  Patricia  1.069601  0.755351
2   980     Zelda  0.718157 -0.510507
3  1020    Ursula  0.430096  0.523132
4   967   Michael  0.748540  0.810930

In [4]:
ddf.tail()

           id    name         x         y
2419195  1014  Xavier  1.886493  0.981587
2419196   990  Yvonne  0.468745 -0.856453
2419197  1021   Kevin  0.590199 -0.091200
2419198   987  Victor  0.961330  0.560805
2419199  1013     Dan  1.490085 -0.680376

In [5]:
ddf['x'] = ddf['x']+1

In [6]:
ddf.head()

     id      name         x         y
0  1008       Dan  1.740626 -0.118314
1   987  Patricia  2.069601  0.755351
2   980     Zelda  1.718157 -0.510507
3  1020    Ursula  1.430096  0.523132
4   967   Michael  1.748540  0.810930

In [8]:
ddf.to_csv("./data/modified_file.csv", index=False, single_file=True)

['/home/deq/Desktop/conda-dask/dask-example/data/modified_file.csv']